.container{
    max-width: 1275px;
    margin: 0 auto;
    padding: 0 20px;
}
.hero{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100%;
}